html {
    border:0;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
body {
    border:0;
    font-family: 'PT Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size:10pt;
    margin:0;
    padding:0;
}

h1 {
    border-bottom:2px dotted #ccc;
    font-size:250%;
    margin-top:15px;
    margin-bottom:10px;
    padding:0;
    padding-bottom:15px;
}
hr {
    border:none;
    border-bottom:1px dotted #ccc;
    margin:0
    margin-bottom:15px;
    margin-top:15px;
    padding:0;
}
p {
    margin:0;
    margin-bottom:.75em;
    padding:0;
}

/*----------------------------------------------------------------------------*/
/* Layout                                                                     */

#left {
    background:#e6e6e6;
    /* border-right:1px solid #c2c2c2; */
    height:100%;
    position:fixed;
    width:270px;
}
#left #banner {
    color:#666;
    height:160px;
    padding-left:25px;
    padding-right:20px;
    padding-top:20px;
}
#left #banner h1 {
    border:none;
    font-size:25px;
    margin:0;
    padding:0
    text-shadow:none;
}
#left a {
    text-decoration:none;
}
#left #legend {
    color: #666;
    margin:25px;
}
#left #legend table {
	margin-bottom:40px;
	margin-top:30px;
}
#left #legend table tr td:last-child {
	padding-left:10px;
}
#left #legend table tr td:first-child {
	padding-left:0;
}
#right {
    background:white;
    height:100%;
    left: 300px;
    overflow:scroll;
    padding-bottom:40px;
    padding-right:20px;
    position:fixed;
    right:0;
}

/* ------------------------------------------------------------------------- */
/* Report 																	 */

.complete {
    background: #58FA58;
}
.complete:hover {
    background:#eee;
}
.error {
    background: red;
}
.error:hover {
    background:red;
}
.incomplete {
    background: orange;
}
.incomplete:hover {
    background:#FE9A2E;
}
.partial {
    background: yellow;
}
.partial:hover {
    background:#F2F5A9;
}

#report {
    margin-bottom:40px;
    margin-top:20px;
    width:100%;
}
.program>h1 {
    border:none;
    color: #333;
    font-size:120%;
    font-weight:normal;
    padding:0;
}
.course {
    background:#e6e6e6;
    margin:0;
    margin-bottom:1px;
    padding:0;
}
.course .title {
    display:table;
    padding:5px 5px 5px 15px;
    width:100%;
}
.course .title h1 {
    border:none;
    font-size:125%;
    font-weight:bold;
    margin:0;
    padding:0;
}
.course .metadata {
    font-family:Courier,'Courier New',fixed;
    padding:10px;
    margin:0;
}
.assignment {
    border:1px solid #efefef;
    font-family:Courier,'Courier New',fixed;
    margin:0;
    padding:0;
    padding-bottom:10px;
    padding-left:10px;
    padding-top:10px;
}
.assignment>h1 {
    border:none;
    font-size:100%;
    font-weight:bold;
    margin:0;
    padding:0;
    padding-left:10px;
}
ul.marked {
    list-style:none;
    margin:0;
    padding:0;
    padding-left:10px;
}
ul li.checked:before {
    content:"\2713\0020";
}
ul li.crossed:before {
    content:"\2717\0020";
}

/* ------------------------------------------------------------------------- */
/* Publish */

#warning {
    background:#F5F6CE;
    /* border:1px solid #e2e2e2; */
    border-radius:3px;
    margin-bottom:30px;
    padding:0;
    padding-left:15px;
    padding-bottom:15px;
}
#warning h2 {
    background:#F3F781;
    margin-left:-15px;
    margin-top:0;
    padding-bottom:5px;
    padding-left:15px;
    padding-top:5px;
    width:100%;
}
#warning p {
    font-family:Courier,'Courier New',fixed;
    margin:15px 15px 15px 0;
}
